.sidebar {
  max-width: 18.75rem !important;
}

.sidebar-link {
  padding: .625rem 1.625rem;
  margin: 1.25rem;
}

.sidebar-link:hover {
  background: #1266f10d;
  border-radius: .3125rem;
}

.dropdown-sidebar a {
  display: flex;
  align-items: center;
  gap: 3.75rem;
}

.dropdown-sidebar a > span {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sidebar-link.active {
  background: #1266f10d;
  border-radius: .3125rem;
  color: blue !important;
}

