.bg-login {
  background-color: #161616;;
}

.login-card {
  width: 380px;
}

.logo-login {
  width: 220px !important;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.header-login {
  background-color: rgb(255, 255, 255);
  border: none;
  margin: 2rem 0;
}

.blue {
  color: blue !important
}
